[submodule "DotNetLibraries"]
	path = DotNetLibraries
	url = https://github.com/keidrumfreak/DotNetLibraries.git
[submodule "BmsParser"]
	path = BmsParser
	url = https://github.com/keidrumfreak/BmsParser.git
